<!DOCTYPE html>
<html lang="en">

<head>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-158302169-1');
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158302169-1"></script>
</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Wllynilson Carneiro | Analista de Sistemas</title>
<link rel="stylesheet" href="../static/css/style.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.css">
<link rel="stylesheet" href="https://use.fontawesome.com/6b40f62a8b.css">

<body>

<section class="body">
    <div class="infos">
        <img src="../static/img/perfil.png" alt="Foto de perfil - Wllynilson Carneiro">
        <h1>Wllynilson Carneiro
            <small>Analista de Sistemas</small></h1>
        <p>Estudante e Desenvolvedor. Ajudo desenvolvedores a entregar softwares com melhores prazos e no período correto.</p>
    </div>
</section>
<footer>
    <div class="footer">
        <nav>
            <ul class="menu-footer">
                <li>
                    <a href="https://github.com/wllynilson/" target="__blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com/wllynilsom/" target="__blank"><i class="fa fa-instagram"></i></a>
                </li>
                <li>
                    <a href="https://dev.to/wllynilson/" target="__blank"><i class="fa fa-code"></i></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/wllynilson/" target="__blank"><i
                            class="fa fa-linkedin"></i></a>
                </li>
                <li>
                    <a href="mailto:wllynilson@gmail.com" target="__blank"><i class="fa fa-envelope-o"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
</body>

</html>