:root{
    --backgroundHeader: #041b30;
    --backgroundBody: rgba(198, 243, 212, 0.253);
    --backgroundFooter: #060c09;
    --branco: #fff;
    --preto: #012;
    --highlight: #247fd1;
    --dimensoesFotoPerfil: 200px;
}

body, ul, li, p {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: var(--preto);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
    background: var(--backgroundHeader);
}

.menu-header, .menu-footer {
    display: flex;
}

.menu-header li, .menu-footer li {
    margin-left: 10px;
}

.menu-header li a {
    display: block;
    padding: 10px;
}

.menu-footer li a {
    display: block;
    padding: 15px;
    font-size: 1em;
    color: rgb(34, 211, 28);
}

.menu-footer li a:hover {
    color: blue;
}


html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.body{
    flex: 1; 
    background-color: var(--backgroundBody);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infos {
    text-align: center;
    width: 75%;
    font-size: 1em;
}

.infos>h1 {
    display: flex;
    flex-direction: column;
    line-height: 125%;
    margin-bottom: 15px;
    font-size: 1.4em;
}

.infos>h1>small {
    font-size: 0.9em;
}

.infos>img {
    width: var(--dimensoesFotoPerfil);
    height: var(--dimensoesFotoPerfil);
    border-radius: 25%;
}

.infos>p {
    text-align: center;
}

.footer {
    height: 50px;
    margin-top: -50px;
    background-color: var(--backgroundFooter);
}

.menu-footer {
    justify-content: center;
    align-items: center;
}